/* CSS Document */
.loginbox body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.loginbox{
	font-family: Arial, Helvetica, sans-serif;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 10px;
	width: 375px;
	overflow: visible;
	padding: 0;
	color: #000000;
	border: 1px solid #DDDDDD;
}

.loginbox, .loginbox.twocolumns .loginpanel, .loginbox .subcontent{    
	background-color: #FAFAFA;
}

.loginbox h2, .loginbox .subcontent{
	margin:5px;
	text-align: center;
}

.loginbox h2{
	font-weight: bold;
	font-size: 123.1%
}

.loginbox .loginsub {
	margin-left: 0;
	margin-right: 0;
}

.loginbox .loginpanel .desc {
	padding: 0;
}

.loginbox a{
	color: #0000ff;
	text-decoration: none;
}

.helplink img {
	margin: 0 2px;
	height: 17px;
	vertical-align: middle;
	width: 17px;
}

.clearer {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    clear: both;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}

.loginbox a img{
	border-width: 0;
}

.loginbox .loginform{
	margin-top: 1em;
	text-align: left;
}

.loginbox .loginform .form-label{
	direction: rtl;
	float: left;
	text-align: right;
	white-space: nowrap;
	width: 44%;
}

.loginbox .loginform .form-input {
	float: right;
	width: 55%;
}


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    min-width: 0;
    visibility: hidden;
}